In [1]:
print("hello world")

hello world

In [2]:
import pandas as pd

In [3]:
dtypes = {
    "first_name": "category",
    "gender": "category",
    "type": "category",
    "state": "category",
    "party": "category",
}
df = pd.read_csv(
    "legislators-historical.csv",
    dtype=dtypes,
    usecols=list(dtypes) + ["birthday", "last_name"],
    parse_dates=["birthday"]
)

In [4]:
df.head()

  last_name  first_name   birthday gender type state                party
0   Bassett     Richard 1745-04-02      M  sen    DE  Anti-Administration
1     Bland  Theodorick 1742-03-21      M  rep    VA                  NaN
2     Burke     Aedanus 1743-06-16      M  rep    SC                  NaN
3   Carroll      Daniel 1730-07-22      M  rep    MD                  NaN
4    Clymer      George 1739-03-16      M  rep    PA                  NaN

In [5]:
df.tail()

      last_name first_name   birthday gender type state       party
11970   Garrett     Thomas 1972-03-27      M  rep    VA  Republican
11971    Handel      Karen 1962-04-18      F  rep    GA  Republican
11972     Jones     Brenda 1959-10-24      F  rep    MI    Democrat
11973    Marino        Tom 1952-08-15      M  rep    PA  Republican
11974     Jones     Walter 1943-02-10      M  rep    NC  Republican

In [6]:
df.dtypes

last_name             object
first_name          category
birthday      datetime64[ns]
gender              category
type                category
state               category
party               category
dtype: object

In [7]:
n_by_state = df.groupby('state',observed=False)['last_name'].count()
n_by_state.head(10)

state
AK     16
AL    206
AR    117
AS      2
AZ     48
CA    361
CO     90
CT    240
DC      2
DE     97
Name: last_name, dtype: int64

In [8]:
n_by_state_gender = df.groupby(["state", "gender"], observed=False)["last_name"].count()

In [9]:
type(n_by_state_gender)

pandas.core.series.Series

In [10]:
n_by_state_gender.index[:5]

MultiIndex([('AK', 'F'),
            ('AK', 'M'),
            ('AL', 'F'),
            ('AL', 'M'),
            ('AR', 'F')],
           names=['state', 'gender'])

In [11]:
df.groupby(["state", "gender"], as_index=False,observed=False)["last_name"].count()[:10]

  state gender  last_name
0    AK      F          0
1    AK      M         16
2    AL      F          3
3    AL      M        203
4    AR      F          5
5    AR      M        112
6    AS      F          0
7    AS      M          2
8    AZ      F          3
9    AZ      M         45

In [12]:
df.groupby("state", sort=False,observed=False)["last_name"].count()[:5]

state
DE      97
VA     432
SC     251
MD     305
PA    1053
Name: last_name, dtype: int64

In [13]:
by_state = df.groupby("state",observed=False)
print(by_state)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x103ec4170>

In [16]:
by_state['last_name'].apply(lambda x:sorted(x))[:10]

state
AK    [Bartlett, Begich, Begich, Cale, Dimond, Grave...
AL    [Abercrombie, Abercrombie, Aldrich, Aldrich, A...
AR    [Alexander, Alford, Anthony, Ashley, Bates, Be...
AS                                [Faleomavaega, Sunia]
AZ    [Ashurst, Barber, Bashford, Bean, Cameron, Cam...
CA    [Allen, Anderson, Anderson, Axtell, Baca, Badh...
CO    [Adams, Allard, Allott, Armstrong, Aspinall, B...
CT    [Allen, Arnold, Austin, Bakewell, Baldwin, Bal...
DC                                  [Chipman, Fauntroy]
DE    [Adams, Allee, Allen, Ball, Bassett, Bates, Ba...
Name: last_name, dtype: object